@import "../../utils/mixins.module.scss";
@import "../../utils/constants.module.scss";
@import "../../utils/breakpoints.module.scss";

.sidebar {
  width: 250px;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 65px;
  left: 0;
  z-index: 1;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding-bottom: 30px;
  transition: all .3s linear;

  &:hover {
    overflow: overlay;
  }

  &::-webkit-scrollbar {
    width: 5px;
    z-index: 3;
  }

  &::-webkit-scrollbar-track {
    width: 5px;
    background-color: $background;
    z-index: 3;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #e2e2e2;
    border-radius: 3px;
    z-index: 3;
  }

  @include xs {
    width: 0px;
    overflow: overlay;
  }

  @include sm {
    width: 0px;
    overflow: overlay;
  }
}

.sidebar__links {
	@include widthH(fit-content);
  transition: all .1s linear;

  @include xs {
    opacity: 0;
  }

  @include sm {
    opacity: 0;
  }
}

.nav__right {
  width: 100%;
  @include displayCenter(center, space-between);
  padding: 30px 25px 20px;
  display: none;

  @include xs {
    display: flex;
  }

  @include sm {
    display: flex;
  }
}

.notification {
  @include displayCenter(center, flex-start);
  gap: 20px;
  flex: 1;

  & > p {
    font-size: 12px;
    color: $theme-text;
    text-decoration: underline;
    cursor: pointer;
  }

  & > img {
    width: 15px;
    cursor: pointer;
  }
}

.profile__con {
  flex: 1;
  @include displayCenter(center, flex-end);
}
